<div class="centered">
  <p class="header text-center">Magic! Link</p>
  <p class="tagline text-center">Watch as your URLs mysteriously shortens</p>
  <%= form_for @shortened_url do |form| %>

    <p class="new_form text-center">
      <!-- <%= form.label :url, "Your URL:" %> -->
      <%= form.text_field :url, class: "text-box", placeholder: "Insert URL" %>
      <%= form.submit "Shorten my URL", class: "btn btn-default" %>
    </p>

    <% if @shortened_url.errors[:url].any? %>
      <p class='error-messages text-center'>
        The given url <%= @shortened_url.errors[:url].to_sentence %>.
      </p>
    <% end %>

    <% if flash[:shortened_id].present? %>
      <p class='shortened-link text-center'>
        The Magic Link is <%= link_to @shortened_url.id,
        url_url(flash[:shortened_id]) %>
      </p>
      <p class="shortened-link1 text-center">(Right click and copy link to share it)</p>
    <% end %>

  <% end %>

</div>
